*{
    margin: 0;
    padding: 0;
}

body{
    z-index: 0;
}

header{
    background-color:  turquoise;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    position: absolute;
}

.navbar{
    font-size: 36px;
}

.header > a:hover{
    
}

.header:last-child{
    display: flex;
}

.headerelement{
    text-decoration: none;
    padding: 25px 30px;
    background-color:violet;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    transition: 0.5s;
    padding-top: 60px;
    overflow: hidden;
}

.sidenav a, .sidenav span{
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    transition: 0.3s;
}

.sidenav a:hover, .sidenav span:hover{
    background-color: #f1f1f1;
    color: black;
}

.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    font-size: 36px;
}

.sidenav .closebtn:hover{
    background-color: black;
    color: #f1f1f1;
}

#main{
    width: 100%;
    height: 300px;
    transition: margin-left 0.5s;
    padding: 20px;
    background-color: blue;
}